* {
  margin: 0;
}

/* form */
.form {
  background-color: rgb(208, 206, 206);
  padding: 5px 10px;
  select {
    width: 20%;
    padding: 5px;
  }
  input {
    width: 70%;
    padding: 5px;
  }
}
/* Movie listing */
.movies-section {
  padding: 5px 10px;
  display: flex;
}
.movies-wrapper {
  display: flex;
}
