:root {
  --bg-color: #ffffff;
  --form-bg-color: #f2f1f1;
  --text-color: #000000;
  --border-color: #dddddd;
  --hover-bg: #e7e7e7;
}

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --form-bg-color: #2f2f2f;
  --text-color: #f5f5f5;
  --border-color: #444;
  --hover-bg: #727272;
}

* {
  box-sizing: border-box;
  font-size: 18px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  min-height: 100vh;
}

/* form section */
.form-section {
  padding: 10px;
  padding: 12px 20px;
  border-bottom: 1px solid #e5e7eb;
  background-color: var(--form-bg-color);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form select,
.form input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form input {
  flex: 1 1 auto;
  min-width: 0;
}

/* Layout */
.movies-section {
  display: flex;
  flex-direction: column;
}

.movies-list,
.movie-detail {
  padding: 16px;
  min-width: 300px; /* Minimum width for readability */
  border-right: 1px solid #e5e7eb;
  max-height: calc(
    100vh - 100px
  ); /* Example max height, adjust based on top bar */
  overflow-y: auto;
}

.movie-detail {
  padding: 12px 20px;
  border-bottom: 1px solid #f3f4f6; /* Very light separator */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.details-message {
  text-align: center;
}

@media (min-width: 768px) {
  .movies-section {
    flex-direction: row;
  }

  .movies-list {
    width: 50%;
    border-right: 1px solid #ccc;
  }

  .movie-detail {
    width: 49%;
  }
}

/* Movie Items */
.movie-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.movie-item:hover {
  background-color: var(--hover-bg);
}

.movie-item span {
  flex: 1;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Detail Section */
.movie-detail img {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.movie-content:after {
  content: "";
  display: table;
  clear: both;
}

.movie-director {
  padding: 10px 0;
}

.ratings {
  padding: 10px 0;
}

.ratings span {
  display: inline-block;
  margin-right: 10px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 16px;
  background: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

button,
select,
input {
  background: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 6px 10px;
  font-size: 14px;
}

.movies-wrapper {
  border-bottom: 1px solid var(--border-color);
}

.movies-wrapper:hover {
  background-color: var(--hover-bg);
}

/* Toggle Switch Style */
.theme-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: auto;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #151515;
}

input:checked + .slider:before {
  transform: translateX(24px);
}

.error {
  font-size: 50px;
  text-align: center;
}

.loading {
  text-align: center;
}

/* star rating */
.ratings-wrapper {
  display: flex;
  align-items: center;
  gap: 2;
  padding: 10px 0;
}

.full-star {
  color: #f5b301;
}

.half-star {
  position: relative;
}

.half-star-width {
  color: #f5b301;
  position: absolute;
  width: 50%;
  overflow: hidden;
}
.half-star-color {
  color: #ccc;
}

.empty-star {
  color: #ccc;
}

.full-star,
.half-star,
.half-star-width,
.half-star-color,
.empty-star {
  font-size: 1.5rem;
}

/* genre section */
.genre-wrapper,
.imdb-info {
  padding: 10px 0;
}

.genre {
  background: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  display: inline-block;
  margin-right: 10px;
  padding: 4px 16px;
  border-radius: 20px;
  font-size: 16px;
}
